<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lyy.musicapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                https://www.bilibili.com/video/av22807204/?spm_id_from=333.788.videocard.26
https://www.bilibili.com/video/av23066134/?spm_id_from=333.788.videocard.6
https://www.bilibili.com/video/av27392517/?spm_id_from=333.788.videocard.9
https://www.bilibili.com/video/av23433137/?spm_id_from=333.788.videocard.8
https://www.bilibili.com/video/av24576823/?spm_id_from=333.788.videocard.7
https://www.bilibili.com/video/av23877090/?spm_id_from=333.788.videocard.0
https://www.bilibili.com/video/av30119854/?spm_id_from=333.788.comment.13
https://www.bilibili.com/video/av33156734/?spm_id_from=333.788.videocard.19
https://www.bilibili.com/video/av33242800/?spm_id_from=trigger_reload
https://www.bilibili.com/video/av23478705/?spm_id_from=333.788.videocard.24
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
